@model Product
@{
    ViewData["Title"] = "Guncelle";
}

<h1>Güncelle</h1>

<form asp-controller="Home" asp-action="Guncelle" method="post">
    <div>
        <label asp-for="Adi"></label>
        <input asp-for="Adi" />
    </div>
    
    <div> 
        <label asp-for="Fiyat"></label>
        <input asp-for="Fiyat" />
    </div>

      <div>
        <label asp-for="Kategori"></label>
        <input asp-for="Kategori" />
    </div>
    <div>

    <button type="submit" class="btn btn-secondary">GÜNCELLE</button>
    </div>

</form>